/*-- scss:defaults --*/
// Base document colors
$blue:    #0451A5 !default;
$primary:       $blue !default;


.quarto-about-solana .about-image {
    border: 1px solid #727475;
    background-color: #ffffff;
  }

/* Set the top navigation bar background to Crimson */
$navbar-bg: #990000 !default;       // Crimson background
$navbar-border-color: transparent !default;

/* Mobile top bar icon and page title */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.navbar-title,
.navbar-brand {
  color: #ffffff !important;      /* white text for page title */
  font-weight: 700 !important;    /* bold */
  text-shadow: 0 0 2px rgba(0,0,0,0.2);  /* subtle contrast */
}

.navbar a.navbar-link {
  color: #ffffff !important;      /* ensures any link in top bar is white */
}
