.quarto-title-banner {
  background-image: url("files/Pu_IU_Indy_Banner_tight.svg"); /* Path to your banner image */
  background-size: 800px;  /* use 'cover' to fill the container */
  height: 180px;
  background-repeat: no-repeat;
  background-position: 50px center; /* offset 50px from left edge */
  color: white; /* Adjust text color for contrast */
  padding: 0px 0; /* Adjust padding as needed */
  background-color: white !important /* override the default */
}

.quarto-title-block-banner {
  background-color: white !important /* override the default */
  background: none !important /* override the default */
}

/* Add shadow for readability */
/* 
.quarto-title-banner h1, 
.quarto-title-banner p { 
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
} 
*/

/* Hide banner text in Quarto title block */
.quarto-title-banner h1,
.quarto-title-banner h2,
.quarto-title-banner h3,
.quarto-title-banner p {
  display: none;
}

/* Hide entire banner for the moment */
.quarto-title-banner {
  display: none;
}

@media (max-width: 768px) {
  .quarto-title-banner {
    background-size: 680px;  /* fit smaller for mobile */
    background-position: 20px center; /* offset 50px from left edge */
  }
}

/* flexible wrappinpg */
.about-flex {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.about-flex > div:first-child {
  flex: 1 1 300px;
  min-width: 250px;
}

.about-flex > div:last-child {
  flex: 0 0 auto;
}

.about-flex img {
  border-radius: 50%;
  margin-top: 10px;
}

/* Optional: tighter alignment on narrow screens */
@media (max-width: 600px) {
  .about-flex {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

ul {
  margin-left: 0em;   /* default is around 2em */
  padding-left: 1.2em;
}
ul ul {
  margin-left: 0.5em; /* nested lists */
  padding-left: 0.5em;
}

a {
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline; /* optional: keep underline on hover */
}
