.quarto-title-banner {
  background-image: url("files/Pu_IU_Indy_Banner.svg"); /* Path to your banner image */
  background-size: 65%;  /* use 'cover' to fill the container */
  height: 250px;
  background-repeat: no-repeat;
  background-position: left;
  color: white; /* Adjust text color for contrast */
  padding: 50px 0; /* Adjust padding as needed */
  background-color: white !important /* override the default */
}

.quarto-title-block-banner {
  background-color: white !important /* override the default */
  background: none !important /* override the default */
}

/* Add shadow for readability */
/* 
.quarto-title-banner h1, 
.quarto-title-banner p { 
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
} 
*/

/* Hide banner text in Quarto title block */
.quarto-title-banner h1,
.quarto-title-banner h2,
.quarto-title-banner h3,
.quarto-title-banner p {
  display: none;
}

/* Hide entire banner for the moment */
.quarto-title-banner {
  display: none;
}

ul {
  margin-left: 0em;   /* default is around 2em */
  padding-left: 1.2em;
}
ul ul {
  margin-left: 0.5em; /* nested lists */
  padding-left: 0.5em;
}

a {
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline; /* optional: keep underline on hover */
}
